.body {
  text-align: center;
}

.left {
  margin: 6rem 0 0 0;
  line-height: 3rem;
  h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  img {
    margin: 2rem 0 0 0;
    box-shadow: inset;
  }
}

////////////////////////
input[type="text"],
[type="email"],
textarea {
  width: 50%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: transparent;

  &:focus {
    background: #e79495a1;
    transition: 0.5s;
    border: transparent;
  }
}

input[type="submit"] {
  background-color: #141414;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
  transition: 0.5s;
}

.right {
  border-radius: 5px;

  padding: 10px;
}
