.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: 3rem 0 0 10rem;
  text-align: center;
  font-family: arial;
  border: none;
  border-radius: 5px;

  &:hover {
    border: solid white;
    transition: 1s;
  }
}

.price {
  color: grey;
  font-size: 22px;
  margin: 0.5rem 0.5rem;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;

  border-radius: 5px;
  font-size: 18px;
}

.card button:hover {
  background: white;
  transition: 0.7s;
  color: black;
  opacity: 0.7;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #df49be 0%,
    #e7b81f 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 5rem 0 2rem 0;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
